doctype html
html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title PontyBridge University
  body
    .container
      .top_bar
        .uni_logo.headings_normal University of PontyBridge
        .menu.clearfix
          a(href="home.html").menu_item Home
          a(href="study.html").menu_item Study
          a(href="#").menu_item Research
      .banner
        img.banner_img(src=require('../img/pic9.jpg'))
        .mirror
        .slogan_box
          .slogan Welcome to a desirable locally global University
          .slogan_description With over 700 students enrolling each year from all over the local world, you'll be part of a close-knit vibrant community that really believes in the joy of education.
      .twins_picture_section
        .twin_item
          img(src=require('../img/pic14.jpg'))
          .twin_description We teach many students each year, and almost all of them achieve some level of qualification
        .twin_item
          img(src=require('../img/pic1.jpg'))
          .twin_description With over 1 breakthrough each year, our estimate is that we'll have a nobel prize sometime in 2345
      .right-side-section
        .quote_box
          .quote_text This is the best and only education I've had
          .quote_attribute Peter. P. Brick, class of 2015
        .right-side-img-box
          img.right-side-img(src=require('../img/pic2.jpg'))
      .trible_picture_section
        .trible_item
          img(src=require('../img/pic6.jpg'))
          .trible_title Graduation Success
          .trible_des Once again the University has triumphed at the inter-university games
        .trible_item
          img(src=require('../img/pic8.jpg'))
          .trible_title Graduation Success
          .trible_des Once again the University has triumphed at the inter-university games
        .trible_item
          img(src=require('../img/pic6.jpg'))
          .trible_title Graduation Success
          .trible_des Once again the University has triumphed at the inter-university games
    .footer
      .foot_menu
        a(href="home.html").foot_menu_item Home
        a(href="study.html").foot_menu_item Study
        a(href="#").foot_menu_item Research
      .foot_logo.headings_normal University of PontyBridge
        


